{% extends "layout.html" %}
{% set active_page = "followers" %}

{% block main %}
  
  {% if incomplete_list %}
	<div class="alert alert-danger" role="alert">Your list of followers is incomplete due to Twitter API rate limitations!</div>
  {% endif %}

  {% if winner %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
			<h2>We have a winner!</h2>
		    <ul class="list-group">
	        <li class="list-group-item">
	          <div class="media">
		          <div class="media-object pull-left">
		            <img src="{{ winner.profile_image_url_https }}">
		          </div>
	          </div>
	          <div class="media-body">
	            <a href="//twitter.com/{{ winner.screen_name }}" target="_blank" rel="nofollow">@{{ winner.screen_name }}</a> - {{ winner.name }}
	          </div>
	        </li>
	      </ul>
	    </div>
    </div>
  </div>
  {% endif %}
	   
  <div class="container">
	  <div class="row">
      <div class="col-md-4">
			  <h2>Followers</h2>
			  {% if followers|length > 0 %}
				<ol class="">
				{% for follower in followers %}
					<li class="">
					<a href="//twitter.com/{{ follower.screen_name }}" target="_blank" rel="nofollow">@{{ follower.screen_name }}</a> - {{ follower.name }}
					</li>
				{% endfor %}
				</ol>
			  {% else %}
				<div class="alert alert-warning" role="alert">Your list of followers is empty.</div>
			  {% endif %}
		  </div>
	  </div>
  </div>

{% endblock %}
