{% extends "layout.html" %}
{% set active_page = "index" %}

{% block main %}
  
		<div class="container">
			<div class="row">
        <div class="col-md-4">
          <h2>Profile</h2>
          <p>See your relavent profile information.</p>
          <p><a class="btn btn-default" href="{{ url_for('profile') }}" role="button">View details &raquo;</a></p>
       </div>
			  <div class="col-md-4">
			    <h2>Followers</h2>
			    <p>Pick a winner from your list of followers. Currently limited to 3000 followers.</p>
			    <p><a class="btn btn-default" href="/followers" role="button">View details &raquo;</a></p>
			  </div>
			  <div class="col-md-4">
			    <h2>Retweets</h2>
			    <p>Pick a winner from your retweets. Select a recent retweet and pick a winner from those that retweeted you.</p>
			    <p><a class="btn btn-default" href="/retweets" role="button">View details &raquo;</a></p>
			 </div>
			</div>
		</div>

{% endblock %}
