{% extends "layout.html" %}
{% set active_page = "index" %}

{% block main %}
  
<div class="jumbotron">
  <div class="container">
    {% if logged_in %}
      <div class="media">
        <div class="img avatar">
          <img src="{{ user.avatar_url }}">
        </div>
      </div>
      <h1>Hi, <a href="{{ user.link }}" target="_blank" rel="nofollow">{{ user.name }}</a>!</h1>
    {% else %}
      <h1>Tweet, win!</h1>
    {% endif %}
    <p>Use your Twitter data to randomly pick a winner. This is a free and secure app is for conducting contests and giveaways.</p>
    <p>No data is saved or shared.</p>
    {% if logged_in %}
      <p><a class="btn btn-default btn-lg" role="button" href="/logout">Logout</a></p>
    {% else %}
      <p><a class="btn btn-primary btn-lg" role="button" href="/auth/twitter">Sign in with Twitter &raquo;</a></p>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Start by selecting from the following:</h2>
  </div>
	<div class="row">
	  <div class="col-md-4">
	    <h2>Followers</h2>
	    <p>Pick a winner from your followers. Currently limited to 3000 followers.</p>
	    <p><a class="btn btn-default" href="/followers" role="button">Pick a Winner! &raquo;</a></p>
	  </div>
	  <div class="col-md-4">
	    <h2>Retweets</h2>
	    <p>Pick a winner from your retweets. Select a recent retweet and pick a winner from those that retweeted it.</p>
	    <p><a class="btn btn-default" href="/retweets" role="button">Pick a Winner! &raquo;</a></p>
	 </div>
	</div>
</div>

{% endblock %}
