<!doctype html>
<html >
<head>
  <meta charset="utf-8">
  <title>Twitter Winner</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Conduct contest drawings based on your Twitter data.">
  <meta name="author" content="robotnyc.com">
  <link rel="stylesheet" href="/css/jumbotron.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Twitter Winner</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class=""><a href="/profile">Proflie</a></li>
          <li class=""><a href="/followers">Followers</a></li>
          <li class=""><a href="/retweets">Retweets</a></li>
	      </ul>
      </div>
    </nav>

  <div role="main" class="container" style="margin-bottom: 2em;">

    <div class="jumbotron">
      <div class="container">
        {% if logged_in %}
          <div class="media">
				    <div class="img avatar">
				      <img src="{{ user.avatar_url }}">
				    </div>
			      <h1>Hi, <a href="{{ user.link }}" target="_blank" rel="nofollow">{{ user.name }}</a>!</h1>
			      
			    </div>
        {% else %}
          <h1>Tweet, win!</h1>
        {% endif %}
        <p>Use your Twitter data to randomly pick a winner. This app is for conducting contests and giveaways.</p>
				{% if logged_in %}
				  <p><a class="btn btn-default btn-lg" role="button" href="/logout">Logout</a></p>
        {% else %}
			    <p><a class="btn btn-primary btn-lg" role="button" href="/auth/twitter">Sign in to Twitter &raquo;</a></p>
			  {% endif %}
      </div>
    </div>

    {% block main %}{% endblock %}
    
    {% for data, name in flashes %}
      <h2>{{ name }}</h2>
      <table>
        <tbody>
          {% for k, v in data.items() -%}
            <tr>
              <td style="padding-right: 5px">{{ k }}:</td>
              <td>{{ v }}</td>
            </tr>
          {% endfor -%}
        </tbody>
      </table>
    {% endfor %}
    
  </div>
  
  <hr>
  
  <footer>
    <nav><ul class="">
      <li>Send feedback, contribute, or audit the source code at: 
        <a href="https://github.com/lucasrangit/twitter-winner" target="_blank"
           title="Source code">
          https://github.com/lucasrangit/twitter-winner
        </a>
      </li>
    </ul></nav>
  </footer>
  
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
