{% extends "layout.html" %}
{% set active_page = "retweets" %}

{% block main %}

  {% if winner %}
	  <div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <h2>We have a winner!</h2>
	        <ul class="list-group">
	          <li class="list-group-item">
	            <div class="media">
	              <div class="media-object pull-left">
	                <img src="{{ winner.profile_image_url_https }}">
	              </div>
	            </div>
	            <div class="media-body">
	              <a href="//twitter.com/{{ winner.screen_name }}" target="_blank" rel="nofollow">@{{ winner.screen_name }}</a> - {{ winner.name }}
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
    </div>

    <div class="container">
      <div class="row">
			  <h2>Winning Retweet</h2>
			  <ul class="list-group">
			      <li class="list-group-item">{{ retweet.text }}</li>
			  </ul>
		  </div>
	  </div>
  {% endif %}

  {% if retweets %}
	{% if retweets|length > 0 %}
	<div class="container">
		<div class="row">
		<h2>Next, pick a retweet:</h2>
		</div>
	</div>
	<div class="row">
			<table class="table table-hover">
			<thead>
			<tr>
				<th>#</th>
				<th>Count</th>
				<th>Text</th>
			</tr>
			</thead>
			<tbody>
			{% for retweet in retweets %}
				<tr>
				<td><a href="/retweets?id={{retweet.id}}">{{loop.index}}</a>
				<td style="padding-right: 5px">{{ retweet.retweet_count }}</td>
				<td>{{ retweet.text }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		<div class="alert alert-warning" role="alert">Your list of retweets is empty.</div>
    {% endif %}
  {% endif %}

{% endblock %}
