{% extends "layout.html" %}

{% block main %}
  <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}">
    </div>
    <div class="body">
      <h1 style="margin-top: 0; padding-top: 0">{{ user.name }}</h1>
      <p><a href="{{ user.link }}" target="_blank" rel="nofollow">{{ user.link }}</a></p>
    </div>
  </div>

  {% if winner %}
	  <h2>Winner</h2>
	  <ul>
	      <li>{{ winner.screen_name }}</li>
	  </ul>

	  <h2>Winning Retweet</h2>
	  <ul>
	      <li>{{ retweet.text }}</li>
	  </ul>
  {% endif %}

  {% if retweets %}
    <h2>Retweets</h2>
    <p>Pick a retweet:</p>
    <table>
      <tbody>
	      {% for retweet in retweets %}
				  <tr>
				    <td><a href="/retweets?id={{retweet.id}}">#{{loop.index}}</a>
	          <td style="padding-right: 5px">{{ retweet.retweet_count }}x</td>
	          <td>{{ retweet.text }}</td>
		      </tr>
	      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  
  <p style="margin-top: 2em;">
    <a href="/logout" class="btn">logout</a>
  </p>
{% endblock %}
