{% extends "layout.html" %}
{% set active_page = "retweets" %}

{% block main %}

	{% if incomplete_list %}
		</br>
		<div class="alert alert-danger" role="alert">Your list of retweets is incomplete due to Twitter API rate limits! Try again in later (up to 15 minutes).</div>
	{% endif %}

  {% if winner %}
	<div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <h2>We have a winner!</h2>
	        <ul class="list-group">
	          <li class="list-group-item">
	            <div class="media">
	              <div class="media-object pull-left">
	                <img src="{{ winner.profile_image_url_https }}">
	              </div>
	            </div>
	            <div class="media-body">
	              <a href="//twitter.com/{{ winner.screen_name }}" target="_blank" rel="nofollow">@{{ winner.screen_name }}</a> - {{ winner.name }}
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
    </div>

    <div class="container">
      	<div class="row">
			<h2>Winning Retweet</h2>
			<ul class="list-group">
				<li class="list-group-item">{{ retweet.text }}</li>
			</ul>
		</div>
	</div>

  {% elif retweets|length == 0 %}
	<div class="container">
	  <div class="row">
		</br>
		<div class="alert alert-warning" role="alert">Your list of retweets is empty.</div>
	  </div>
	</div>

  {% elif retweets %}
	<div class="container">
		<div class="row">
	    	<h2>Retweets</h2>
	  	</div>
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Count</th>
						<th>Text</th>
					</tr>
				</thead>
				<tbody>
				{% for retweet in retweets %}
					<tr>
					<td><a href="/retweets?id={{retweet.id}}">{{loop.index}}</a>
					<td style="padding-right: 5px">{{ retweet.retweet_count }}</td>
					<td>{{ retweet.text }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
  {% endif %}

{% endblock %}
